.portfolio {
  margin: 5rem 0 2.5rem;
}
.portfolio-login {
  margin: 2rem auto;
  text-align: center;

  input {
    height: 2.25rem;
    width: 250px;
    padding: .5rem;
  }

  button {
    padding: .5rem 2rem;
    background-color: #676E95;
    color: #eeeeee;
  }
}